<!DOCTYPE html>
{% extends "portfolio/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container">
    <div id="contact-heading">
        <h1 id="contact-details-text">Contact Details</h1>
    </div>
    <div id="contact-me-title">
        <h4>If you would like to get in touch regarding employment, collaboration,
            or you have some ideas for a useful project, please dont hesitate to leave
            me a message!
        </h4>
    </div>
    <hr>
    <div id="contact-card">
        <ul id="contact-card-list">
            <li id="name-contact">Name: Thomas Wasnidge</li><br>
            <li id="location-contact">Location: Sheffield, Chesterfield, Manchester</li><br>
            <a href="mailto:thomas.wasnidge@gmail.com"><li id="email-contact">Email: thomas.wasnidge@gmail.com</li></a><br>
            <li id="phonenumber-contact">Phone: 07525644369</li><br>
            <a href="linkedin.com/in/thomas-wasnidge-1171b4236"><li id="linkedin-contact">LinkedIn: Thomas Wasnidge</li></a><br>
        </ul>
    </div>


</div>

{% endblock %}

</body>
</html>