<!DOCTYPE html>
{% extends "portfolio/base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div>
    <h1 id="skills-title" class="title">Technical Skills</h1>
<div id="all-skills">
    <div id="skills-left">
        <ul class="skills" id="skills-list-1">
            <li>Python</li>
            <li>SQL</li>
            <li>Django</li>
            <li>Data Cleaning</li>
        </ul>
    </div>
    <div id="skills-right">
        <ul class="skills" id="skills-list-2">
            <li>Web Scraping</li>
            <li>Excel (VLOOKUPS and Pivot Tables)</li>
            <li>GitHub</li>
            <li>Tableau</li>
        </ul>
    </div>
</div>

    
</div>




{% endblock %}

</body>
</html>